# Auto detect text files and perform LF normalization
* text=auto
Demo/Content/Maps/Classroom_chenVersion_BuiltData.uasset. filter=lfs diff=lfs merge=lfs -text
Demo/Content/Maps/Classroom_chenVersion_BuiltData.uasset filter=lfs diff=lfs merge=lfs -text
